{% extends 'admin/master.html' %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/admin/index.css"></link>
{% endblock %}

{% block body %}
{{ super() }}

<div class="text-container">
    <div id="text">
        <h1> Welcome back Master! </h1>
        <p> uwu </p>
        <p> This is the admin panel for the Statistics Undergraduate Student Association at the University of California, Berkeley. </p>
        <p> There isn't much to say about creating new entries in our database, but there are several conventions that need to be followed when entering data for resources. </p>
        <h3> Resources </h3>
        <ul>
            <li>
                The <code>type</code> field denotes the type that you want the new entry to be displayed at.
                <ul>
                    <li> <code>1</code> : goes under courses </li>
                    <li> <code>2</code> : goes under useful links </li>
                    <li> <code>3</code> : goes under other links </li>
                </ul>
            </li>

            <li>The <code>position</code> field denote the order that you want the new entry to be displayed under (within a group&mdash;explained next).</li>

            <li>The <code>category</code> field denotes what category that you want the new entry to be displayed under&mdash;this is practically the same as group_position (but this doesn't give position). I created the two fields for coding/storage flexibility.</li>

            <li>The <code>label</code> field denotes what you want the link text to display on the page</li>

            <li>
                The <code>link</code> field denotes what you want the link to be.
                <ul>
                    <li>If you have a link to an outside website, make sure to give the entire thing (<code>http.......</code>). </li>
                    <li>If you're linking to a resource that you upload, you only have to give the relative file path within <code>/static/resources/</code>.</li>
                </ul>
            </li>

            <li>The <code>group_position</code> field denotes what order that you want group that the entry belongs to to be in within its <code>type</code>.</li>

        </ul>
    </div>
</div>

{% endblock body %}
