{% extends 'admin/master.html' %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/admin/index.css"></link>
{% endblock %}

{% block body %}
{{ super() }}

<div class="text-container">
    <div id="text">
        <h1> Welcome back Master! </h1>
        <p> uwu </p>
        <p> This is the admin panel for the Statistics Undergraduate Student Association at the University of California, Berkeley. </p>
        <p> There isn't much to say about creating new entries in our database, but there are several conventions that need to be followed when entering some things. </p>
        <p>This site is very intuitive to alter and you just need some HTML knowledge to do everything needed (just some common tags like <code>h1</code>, <code>p</code>, <code>ol</code>, etc..).</p>
        <p><code>position</code> fields are the way that content on the pages is sorted, for example, an entry in the <code>team</code> table with position 1 will tell us that the person is the first to appear on the <code>/team</code> page.</p>
        <p>To make things easier, I made two tables to represent the resources, one are the links themselves, and the other is the mapping of <code>category</code> to a <code>group_position</code> and <code>type</code> (<code>courses</code>,<code>useful_links</code>,<code>other_links</code>, or <code>removed</code>)</p>
        <p>So for example, before you make a resource for 134 available, you have to make an entry in the mapping table first</p>
        <p>I've predefined the areas on the website that can be altered with the <code>contents</code> table, and it's pretty self intuitive to do things</p>
        <p>Make sure to follow the format of some fields as specified when creating an entry!!</p>
        </ul>
    </div>
</div>

{% endblock body %}
