{% extends 'base.html' %}

{% block title %} Apply | SUSA {% endblock %}

{% block head_css %}
<link rel = "stylesheet" type = "text/css" href = "/static/css/resources.css">
{% endblock head_css %}

{% block content %}
<div class="text-container">
    <div id="text">
        <script type="text/javascript">
            function Redirect() {
                window.location = "https://forms.gle/cGm89VKiMEfix8SH7";
            }
        </script>
        <p>Redirecting you to the application on a Google Form in 3 seconds :), if the redirect doesn't work, click on <a href="https://forms.gle/cGm89VKiMEfix8SH7">this link.</a></p>
        <script>setTimeout('Redirect()', 3000);</script>
    </div>
</div>
{% endblock content %}
