{% extends 'base.html' %}

{% block title %} Statistics Course Map | SUSA {% endblock %}

{% block head_css %}
<link rel = "stylesheet" type = "text/css" href = "/static/css/resources.css">
<link rel = "stylesheet" type = "text/css" href = "/static/css/course_map.css">
{% endblock head_css %}

{% block content %}
<div class = "text-container">
  <div id = "text">
    <div id="course-map">
      <svg height="800" width="1000" id = "courses">
        <text transform="translate(500,50)" id="title">SUSA Statistics Course Map</text>
        <text transform="translate(500,85)">Disclaimer: This course map does not adequately reflect possible pathways</text>
        <text transform="translate(500,85)">Hover over a circle to see course prerequisites and potential classes!</text>
        <marker id="triangle" viewBox="0 0 10 10"
              refX="1" refY="5"
              markerWidth="10" markerHeight="10"
              orient="auto">
          <path d="M 0 0 L 10 5 L 0 10 z" fill="black"/>
        </marker>

      </svg>
    </div>
  </div>
</div>

<script type="text/javascript" src="/static/scripts/course_map/course_map.js"></script>
{% endblock %}
