{% extends 'base.html' %}

{% block title %}
SUSA | {{ 'Error {}'.format(error.code) }}
{% endblock title %}

{% block head_css %}
<link rel = "stylesheet" type = "text/css" href = "/static/css/error.css">
{% endblock head_css %}

{% block content %}
<div class="container-error">
    <div id="error">
        <h1>{{ error.desc }}</h1>
        <p>{{ error.exp }}</p>
        <p>You will be redirected to the homepage in 7 seconds. If the page doesn't change, click <a href='/'>here</a> to redirect manually</p>
        <p>You may also click the handy link below to go the last page you visited</p>
        <a id='back'>Back</a>
    </div>
    <script>
        window.setTimeout(function(){
            location.replace('/')
        }, 7000);
        var back = document.getElementById('back');
        back.setAttribute('href', document.referrer);
        back.onclick = function() {
            history.back()
            return false;
        }
    </script>
 </div>
{% endblock %}
