{% extends 'base.html' %}

{% block title %} Statistics Graduate-Undergraduate Program | SUSA {% endblock %}

{% block head_css %}
<link rel = "stylesheet" type = "text/css" href = "/static/css/resources.css">
{% endblock head_css %}

{% block content %}
<div class = "text-container">
    <div id = "text">
        <h1 style="text-align: center;">  Statistics Graduate-Undergraduate Program (SGUP) </h1>
        <p> SUSA is partnering with the <a href='http://sgsa.berkeley.edu'> Statistics Graduate Student Association (SGSA) </a> to provide exciting opportunities to the undergraduates in the statistics community! </p>
        <p> <b> Stay tuned for updates on our <a href="https://facebook.com/susa.berkeley"> Facebook page </a> or <a href="https://discord.com/invite/Am8yXHF"> Discord server </a></b> </p>
	<h2> Overview </h2>
        <p> We will be offering two ways to get involved in our program: mentorship and office hours. </p>
        <h3> Mentorship </h3>
        <p> Undergraduates had the chance to be paired up with a graduate student mentor to form a personal and professional relationship. Paired mentees will meet with their mentors monthly to discuss their goals and gain insights into graduate school and career related matters. </p>
        <h3> Office Hours </h3>
        <p> Our graduate students will be hosting weekly office hours to answer any questions you may have about graduate school in statistics or anything else that you would want to talk about. Get to know various graduate students other than your GSI's through these office hours and use them to your advantage to get more perspectives on your plan in life! </p>
	<p> The office hours will be happening on: 
		<ol>
			<li>
				October 23, Friday - 11:30 AM - 12:30 PM
			</li>
                        <li>
                                October 28, Wednesday - 12:30 PM - 1:30 PM
                        </li>
                        <li>
                                November 11, Wednesday - 12:30 PM - 1:30 PM
                        </li>
                        <li>
                                November 20, Friday - 11:30 AM - 12:30 PM
                        </li>
                        <li>
                                December 4, Wednesday - 12:30 PM - 1:30 PM
                        </li>
</ol>
These office hours will be hosted on Zoom: <a href="https://berkeley.zoom.us/j/94257558853?pwd=clR0NG9MVnVRRGp4UTFybnRCQmFJZz09"> https://berkeley.zoom.us/j/94257558853?pwd=clR0NG9MVnVRRGp4UTFybnRCQmFJZz09 </a>
	</p>
	<img src="/static/images/other-ads/sgupOH.png" style="width:100%">
    </div>
</div>
{% endblock %}
