{% extends 'base.html' %}

{% block title %} Statistics Graduate-Undergraduate Program | SUSA {% endblock %}

{% block head_css %}
<link rel = "stylesheet" type = "text/css" href = "/static/css/resources.css">
{% endblock head_css %}

{% block content %}
<div class = "text-container">
    <div id = "text">
        <h1 style="text-align: center;">  Statistics Graduate-Undergraduate Program (SGUP) </h1>
        <p> SUSA is partnering with the <a href='http://sgsa.berkeley.edu'> Statistics Graduate Student Association (SGSA) </a> to provide exciting opportunities to the undergraduates in the statistics community! </p>
        <h2> Overview </h2>
        <p> We will be offering two ways to get involved in our program: mentorship and office hours. </p>
        <h3> Mentorship </h3>
        <p> You will have the chance to be paired up with a graduate student mentor to form a personal and professional relationship. Paired mentees will meet with their mentors monthly to discuss their goals and gain insights into graduate school and career related matters. </p>
        <p> <b> Apply here: <a href='/sgup/apply'> susa.berkeley.edu/sgup/apply </a> to be matched with a grad student! </b> </p>
        <p> *Due to a limited pool of graduate students participating in this mentorship, we will not be able to match every undergraduate student who applies. If you do not make it into this mentorship, don't worry! You did not do anything wrong, and you will still have the chance to connect with graduate students through our office hours </p>
        <h3> Office Hours </h3>
        <p> Our graduate students will be hosting weekly office hours to answer any questions you may have about graduate school in statistics or anything else that you would want to talk about. Get to know various graduate students other than your GSI's through these office hours and use them to your advantage to get more perspectives on your plan in life! </p>
        <img src="/static/images/other-ads/sgup.png" style="width:100%">
    </div>
</div>
{% endblock %}
