{% extends 'base.html' %}

{% block title %} Our Team | SUSA {% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="/static/css/team.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap">
<script>
    function pand(id) {
        var container = document.getElementById("sum-contain-"+id)
        var summary = document.getElementById("summarized-"+id);
        if (summary.className === "summarized") {
            summary.className += " visible";
            container.className += " expanded";
        } else {
            summary.className = "summarized";
            container.className = "summary-container";
        }
    }
</script>
{% endblock head_css %}

{% block content %}
<div class="text-container">
    <div class="people-container">
        <div id="people">
            <h1>Meet us!</h1>
            <div class="people-array">
            {% for member in team %}
                <div class ="person">
                    <div>
                        <h2 class="name">{{ member.name }}</h2>
                        <h3 class="role">{{ member.role }}</h3>
                        <div class="intro-container" style="
                            background-image: url({{ '/static/portraits/{}'.format(member.portrait) }});
                            background-position: center center;
                            background-repeat: no-repeat;
                            -webkit-background-size: cover;
                            -moz-background-size: cover;
                            -o-background-size: cover;
                            background-size: cover;">
                            <div class="intro">
                            {{ Markup(member.summary) }}
                            </div>
                        </div>
                        <div class="summary-container" onclick="pand({{ member.id }})" id="sum-contain-{{ member.id }}">
                            <ol class="attributes">
                                <li>> summary({{ member.name.split()[0].lower() }})</li>
                                <span class="summarized" id="summarized-{{ member.id }}">
                                <li>Major: {{ member.major }}</li>
                                <li>Year: {{ member.year }}</li>
                                <li>From: {{ member.origin }}</li>
                                <li>Current Classes: {{ member.classes }}</li>
                                {% if member.past_classes %}
                                <li>Taken Classes: {{ member.past_classes }}</li>
                                </span>
                                {% endif %}
                            </ol>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
<div id="text">
    {{ Markup(about_team) }}
    {{ Markup(apply_info) }}
</div>
</div>
{% endblock %}
