/* Styling for the events/calendar page
File: "/events/index.php"
*/

.calendar-container{
    height: calc(85vh - 6em);
    width: 80%;
    left: 50%;
    padding-top: 6em;
    margin-left: -40%;
}


.info-container {
    width: 100%;
    padding-top: 8em;
    min-height: calc(100vh - 8em);
}

#info {
    width: 70%;
    left: 50%;
    margin-left: -35%;
    padding-bottom: 9em;
}

.event-list {
    list-style:none;
    padding: 0;
    line-height: 1.5em;
}

.event-item:not(:last-child) {
    margin-bottom: 1em;
}

.event-item {
    margin-top: 1em;
    margin-left: 3em;
}

.fc-content {
    white-space: normal !important;
}

.details {
    max-height: 0;
    overflow: hidden;
    border-left: #EEEEEE solid 4px;
    margin-left: .35em;
    padding: 0 0 0 0em;
    transition: max-height .5s ease-out, padding .5s ease-out;
}

.details>* {
    display: none;
}

.details li:not(:last-child) {
    margin-bottom: .25em;
}

.expanded.details>* {
    display:block;
}

.expanded {
    max-height: 40em;
    padding: 1em 0 1em 0em;
}

.pand-button {
    border: none;
    padding: 0 !important;
    background: none;
    font-size: 1em !important;
    margin-left: 1em;
}

.pand-button:focus {
    outline: 0;
}

.item-listing {
    transition: color .15s ease-out;
}

.item-listing:hover {
    color: #ED4E33;
}
