/* Styling for the navigation bar
File: "/templates/"
*/
.nav-bar {
    position: fixed;
    color: white;
    width: 100%;
    background-color: rgba(238,238,238, .75);
    z-index: 10;
    min-height: 4.25em;
}

#nav-links {
    position: absolute;
    font-size: 1.25em;
    list-style-type: none;
    right: 20%;
    top: 50%;
    margin-top: -.5em;
}

.nav-link {
    text-decoration: none !important;
    color: #003262;
    text-align: center;
}

.nav-link:hover {
    text-decoration: none !important;
    color: #FDB515;
    transition: .5s;
}

.nav-link:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #ED4E33;
  transition: width .2s ease;
}

.nav-link:hover:after{
  width: 100%;
  left: 0;
  background: #ED4E33;
}

#nav-links li {
    display: inline-block;
    padding-left: 1em;
    margin-bottom: 1em;

}

#nav-links li>a.admin-ind {
    position: relative;
    right: -30em;
    width: 7em;
}

.logo {
    margin: 0;
    margin-left: 20%;
    padding:0;
}

#logo {
    position: relative;
    display: inline-block;
    height: 4em;
    top: .1em;
}

.nav-bar-toggle {
    display: none;
    position: absolute;
    right: 15%;
    top: 50%;
    margin-top: -.75em;
    top: 2em;
    z-index: 6;
}

.logo-curve {
    fill: none;
    stroke: #003262;
    stroke-width: 30;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 180%;
    stroke-dashoffset: 180%;
    transition: .5s all ease;
}

svg:hover .logo-curve{
    stroke-dashoffset: 0;
    stroke: #FDB515;
}


/* Media queries for responsive navbar*/
@media screen and (max-width: 1250px) {
    #nav-links {
        max-height: 0;
        transition: max-height .5s ease-out;
        overflow: hidden;
        text-align: right;
        float: none;
        position: relative;
        width: 100%;
        margin-bottom: 0;
    }

    #nav-links li {
        display: list-item;
        margin: 0;
        padding-top: 1em;
    }

    #nav-links li>a.admin-ind {
        position: relative;
        right: 0;
        width: auto;
    }

    .nav-bar-toggle {
        display: inline-block;
        margin-bottom: 1em;
    }

    #nav-links li:last-child {
        padding-bottom: 3em;
    }

    .nav-bar.responsive {
        position: fixed;
    }
    .nav-bar.responsive #nav-links {
        max-height: 10em;
    }
}
