/* Styling for the resources page
File: "/resources/index.php"
*/

.text-container{
    min-height: calc(100vh - 5em);
    padding-top: 5em;
    width: 100%;
}

#text {
    width: 70%;
    left: 50%;
    margin-left: -35%;
    padding-bottom: 9em;
}

.resource:not(:last-child) {
    margin-bottom: .5em;
}

.link-container {
    overflow: hidden;
    max-height: 0;
    margin-left: .35em;
    border-left: #EEEEEE solid 4px;
    padding: 0;
    transition: max-height .5s ease-out, padding .5s ease-out;
    top: .2em;
}

.link-container>* {
    display: none;
}

.expanded.link-container>* {
    display:block;
}

.expanded {
    max-height: 15em;
    padding: 1em 0 1em 0;
}

.pand-button {
    border: none;
    padding: 0 !important;
    background: none;
    font-size: 1em !important;
    margin-left: 1em;
}


.pand-button:focus {
    outline: 0;
}

.category-label {
    font-size: 1.1em;
    transition: color .15s ease-out;
}

.category-label:hover {
    color: #ED4E33;
}

.category:not(:last-child) {
    margin-bottom: .5em;
}
