.text-container {
    padding-top: 5em;
    width: 100%;
    min-height: calc(100vh - 5em);
}

#text {
    width: 70%;
    left: 50%;
    margin-left: -35%;
    padding-bottom: 9em;
}

.people-container {
    width: 80%;
    z-index:0;
}

#people{
    text-align: center;
    left: 12.5%;
    flex-wrap:wrap;
}

.people-array {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
    flex-wrap: wrap;
    justify-content: space-around;

}

.name {
    margin-bottom: -.5em;
}

.person {
    flex: 1 1 0px;
    display: flex;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
    min-width: 300px;
    max-width: 300px;
}

.intro-container {
    text-align: left;
    min-height: 300px;
    max-height: 300px;
    min-width: 300px;
    max-width: 300px;
    border-radius: .5em;
    box-shadow: .5em .5em rgba(238,238,238, .75);
}

.intro-container:after {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    background: rgba(238,238,238, .9);
    height: 300px;
    width: 300px;
    z-index: 10;
    border-radius: .5em;
    transition: opacity .5s;
}

.intro-container:hover:after {
    opacity: 1;
}


.intro {
    opacity: 0;
    min-height: calc(300px - 2em);
    max-height: calc(300px - 2em);
    z-index: 15;
    overflow: auto;
    left: 50%;
    padding-left:0;
    margin-left: -150px;
    margin-right: 150px;
    overflow: auto;
    padding: 1em;
    transition: opacity .5s;
}

.intro-container:hover .intro {
    opacity: 1;
}

.summary-container {
    width: calc(270px - 1em);
    max-height: 1em;
    transition: max-height .5s ease-out;
    overflow: hidden;
    background: #EEEEEE;
    color: black;
    border-radius: 1em;
    padding: 1em;
    left: 50%;
    padding-left:0;
    margin-left: -135px;
    margin-right: 135px;
    margin-top: 1em;
}

.summary-container:hover {
    background: #888888;
    color: white;
}

.attributes {
    margin: 0;
    padding-left: 1.25em;
    transition: background .25s, color .25s;
}

.attributes li {
    font-family: 'Ubuntu Mono', monospace;
    text-align: left;
    list-style: none;
}

.summarized {
    visibility: hidden;
}

.visible {
    visibility: visible !important;
}

.expanded {
    max-height: 30em;
}

@media screen and (max-width: 750px) {
    .person {
        width: 100%;
    }
}
